<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8">
		<title>vue基础----组件数据传递--组件通信</title>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>

		<template id="child-template">
			<div>
				<input v-model="msg" type="text">
				<button v-on:click="notify">Dispatch Event</button>
			</div>
		</template>

		<div id="example">
			<p>Messages: {{messages }}</p>
			<child v-on:child-msg="childMsg"></child>
		</div>
	</body>
	<script type="text/javascript">

		
		var Child = Vue.extend({
			template: '#child-template',
			data: function () {
				return {
					msg: 'hello'
				}
			},
			methods: {
				notify: function () {
					if (this.msg.trim()) {
						this.$emit('child-msg', this.msg);
						this.msg = '';
					}
				}
			}
		});

		var parent = new Vue({
			el: "#example",
			data: {
				messages: []
			},
			methods: {
				'childMsg': function (msg) {
					this.messages.push(msg);
				}
			},
			components: {
				child: Child
			}
		});

	</script>
</html>
