<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8"><meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">
		<title>vue基础----表单数据绑定</title>
		<script src="https://unpkg.com/vue"></script>
	</head>
	<body>
		<div id="form-div">
			<p>
				<p>input Message is: {{ message }}</p>
				<input v-model.number.trim="message" placeholder="edit me">
			</p>
			<hr/>
			<p>
				<span>Multiline message is:</span>
				<p style="white-space: pre-line;">{{ multilineMessage }}</p>
				<textarea v-model="multilineMessage" placeholder="add multiple lines"></textarea>
			</p>
			<hr/>
			<p>
				<input type="checkbox" id="checkbox" v-model="checked">
				<label for="checkbox">{{ checked }}</label>
			</p>
			<hr/>
			<p>
				<input type="checkbox" id="jkkk" value="jkkk" v-model="checkedNames">
				<label for="jkkk">jkkk</label>
				<input type="checkbox" id="jkkk1" value="jkkk1" v-model="checkedNames">
				<label for="jkkk1">jkkk1</label>
				<input type="checkbox" id="jkkk2" value="jkkk2" v-model="checkedNames">
				<label for="jkkk2">jkkk2</label>
				<p>Checked names: {{ checkedNames }}</p>
			</p>
			<hr/>
			<p>
				<input type="radio" id="one" value="one" v-model="picked"/>
				<label for="one">One</label>
				<br/>
				<input type="radio" id="two" value="two" v-model="picked"/>
				<label for="two">Two</label>
				<br/>
				<span>Picked: {{picked}}</span>
			</p>
			<hr/>
			<p>
				<select v-model="selected" name="" id="">
					<option value="" disabled>请选择</option>
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="CC">C</option>
				</select>
				<span>Selected: {{selected}}</span>
			</p>
			<hr/>
			<p>
				<select v-model="selectedMul" multiple name="">
					<option v-for="option in options" v-bind:value="option.value">
						{{option.text}}
					</option>
				</select>
				<span>Selected:{{selectedMul}}</span>
			</p>
		</div>
	</body>
	<script type="text/javascript">
		var formVM = new Vue({
			el: '#form-div',
			data: {
				message: '',
				multilineMessage: '',
				checked: true,
				checkedNames: [],
				picked: '',
				selected: 'A',
				selectedMul:[],
				options: [
					{text: "One", value: "one"},
					{text: "Two", value: "two"},
					{text: "Three", value: "three"}
				]
			}
		});
	</script>
</html>
